<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SEM Beam Diameter</title>
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css">
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
     <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/protovis-r3.2.js"></script>
    <link rel="stylesheet" href="css/lb.css" type="text/css" media="screen"/>
  </head>
<body>
<div id="wrapper">
  <div id="fig">
    <script type="text/javascript+protovis">
      /* Basic dimensions. */
      var width = 700,
          height = 700,
          innerRadius = 0,
          outerRadius;

      /* Normalizing the radius */
      function radius(mic) mic * 50;
      /* Attention! This is used here as the DIAMETER. To compensate - we have a division by 2 in circular grid lines. */

      var betaZero = document.getElementById("beta").value;
      var Cspherical = document.getElementById("CsIn").value;
      var Cchromatic = document.getElementById("CcIn").value;
      var deltaE = document.getElementById("DEIn").value;
      var varEnergy;
      var varCurrent;
      var workDistance;
      var Aperture;
      function dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture) 20 / Math.PI * Math.sqrt(varCurrent / betaZero / varEnergy) / Math.atan(Aperture / (workDistance * 1000) / 0.2e1);
      function dBragg(varEnergy,workDistance,Aperture) 0.7439047110e0 * Math.pow(0.1021997252e4 * varEnergy + varEnergy * varEnergy, -0.1e1 / 0.2e1) / Math.atan(Aperture / (workDistance * 1000) / 0.2e1);
      function dCS(Cspherical,workDistance,Aperture) 0.25e6 * Cspherical * Math.pow(Math.atan(Aperture / (workDistance * 1000) / 0.2e1), 0.3e1);
      function dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture) 0.1e4 * Cchromatic * deltaE / varEnergy * Math.atan(Aperture / (workDistance * 1000) / 0.2e1);
      function dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture) Math.sqrt(Math.pow(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture),2) + Math.pow(dBragg(varEnergy,workDistance,Aperture),2) + Math.pow(dCS(Cspherical,workDistance,Aperture),2) + Math.pow(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture),2));
      function alphaAngle(workDistance,Aperture) 1000.0 * Math.atan(Aperture / (workDistance * 1000) / 0.2e1);

      /*var abbRad = [
            { c0: 120,
              bragg: 89,
              spherical: 250,
              chromatic: 200 }
            ];*/

      $("#Energy").slider({
         min: 0.2,
         step: 0.01,
         max: 30.0,
         orientation: "vertical",
         value: varEnergy = 6,
         slide: function(e, ui){
           varEnergy = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();
           chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();
           showValue("EnergyVal",varEnergy);
         },
         change: function(e, ui){
           varEnergy = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();
           chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();
           showValue("EnergyVal",varEnergy);
         }
      });
      $("#Current").slider({
         min: 0.5,
         step: 0.1,
         max: 10000.0,
         orientation: "vertical",
         value: varCurrent = 10,
         slide: function(e, ui){
           varCurrent = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           showCurrentValue(varCurrent);
         },
         change: function(e, ui){
           varCurrent = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           showCurrentValue(varCurrent);
         }
      });
      $("#WD").slider({
         min: 0.5,
         step: 0.01,
         max: 50.0,
         orientation: "vertical",
         value: workDistance = 2,
         slide: function(e, ui){
           workDistance = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();
           sphericRad.outerRadius(radius(dCS(Cspherical,workDistance,Aperture))).render();
           chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();
           showValue("WDVal",workDistance);
           showValue("alphaShow",alphaAngle(workDistance,Aperture));
         },
         change: function(e, ui){
           workDistance = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();
           sphericRad.outerRadius(radius(dCS(Cspherical,workDistance,Aperture))).render();
           chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();
           showValue("WDVal",workDistance);
           showValue("alphaShow",alphaAngle(workDistance,Aperture));
         }
      });
      $("#Aperture").slider({
         min: 10.0,
         step: 1.0,
         max: 500.0,
         orientation: "vertical",
         value: Aperture = 30,
         slide: function(e, ui){
           Aperture = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();
           sphericRad.outerRadius(radius(dCS(Cspherical,workDistance,Aperture))).render();
           chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();
           showLessValue("ApertureVal",Aperture);
           showValue("alphaShow",alphaAngle(workDistance,Aperture));
         },
         change: function(e, ui){
           Aperture = ui.value;
           bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();
           c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();
           braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();
           sphericRad.outerRadius(radius(dCS(Cspherical,workDistance,Aperture))).render();
           chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();
           showLessValue("ApertureVal",Aperture);
           showValue("alphaShow",alphaAngle(workDistance,Aperture));
         }
      });

      /* Colors. */
      var abbColor = {
          C0: "rgb(10, 50, 100)",
          Bragg: "rgb(200, 70, 50)",
          Spherical: "rgb(70, 150, 10)",
          Chromatic: "rgb(100, 50, 100)"
        };
      var bgCol = "rgba(230, 130, 110, .8)";

      /* The root panel. */
      var vis = new pv.Panel()
          .width(width)
          .height(height)
          .bottom(100);

      /* Background wedge (total beam). */
      var bg = vis.add(pv.Wedge)
          .left(width / 2)
          .top(height / 2)
          .innerRadius(innerRadius)
          .outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture)))
          .angle(2.0 * Math.PI)
          .fillStyle(bgCol);

      /* Abberations. */
      var c0Rad = bg.add(pv.Wedge)
          .angle(0.45 * Math.PI)
          .startAngle(-0.4 * Math.PI)
          .outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture)))
          .fillStyle(abbColor.C0);
      var braggRad = bg.add(pv.Wedge)
          .angle(0.45 * Math.PI)
          .startAngle(0.05 * Math.PI)
          .outerRadius(radius(dBragg(varEnergy,workDistance,Aperture)))
          .fillStyle(abbColor.Bragg);
      var sphericRad = bg.add(pv.Wedge)
          .angle(0.45 * Math.PI)
          .startAngle(0.50 * Math.PI)
          .outerRadius(radius(dCS(Cspherical,workDistance,Aperture)))
          .fillStyle(abbColor.Spherical);
      var chromaticRad = bg.add(pv.Wedge)
          .angle(0.45 * Math.PI)
          .startAngle(0.95 * Math.PI)
          .outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture)))
          .fillStyle(abbColor.Chromatic);

      /* Circular grid lines. */
      bg.add(pv.Dot)
          .data(pv.range(1, 10))
          .fillStyle(null)
          .strokeStyle("#eee")
          .lineWidth(1)
          .size(function(i) Math.pow(radius(i), 2))
        .anchor("top").add(pv.Label)
          .visible(function(i) i < 7)
          .textBaseline("middle")
          .text(function(i) (0.5 * i).toFixed(1)+" nm");

      /* Radial grid lines. */
      /*bg.add(pv.Wedge)
          .data(pv.range(abbRad.length + 1))
          .innerRadius(innerRadius - 10)
          .outerRadius(###outerRadius### + 10)
          .fillStyle(null)
          .strokeStyle("black")
          .angle(0);*/

      /* Labels. */
      /*bg.anchor("outer").add(pv.Label)
          .textAlign("center")
          .text(function(d) d.###CHANGE###);*/

      /* Abberations legend. */
      vis.add(pv.Bar)
          .data(pv.keys(abbColor))
          .left(0)
          .bottom(function() -60 + this.index * 18)
          .fillStyle(function(d) abbColor[d])
          .width(36)
          .height(12)
        .anchor("right").add(pv.Label)
          .textMargin(6)
          .textAlign("left");

      /* Total beam legend. */
      vis.add(pv.Dot)
          .left(width / 2 - 20)
          .bottom(function() -60 + this.index * 18)
          .fillStyle(bgCol)
          .strokeStyle(null)
          .size(30)
        .anchor("right").add(pv.Label)
          .textMargin(6)
          .textAlign("left")
          .text("Total beam");

      vis.render();

    </script>
  </div>
  <div id="constants">
    <form>
      <label>Brightness:</br><input type="text" id="beta" size="5" value="1E7"></label><sup>A</sup>&frasl;<sub>(cm<sup>2</sup>sr kV)</sub></br><small>&nbsp;Usually: 1E6-1E8</small></br></br>
      <label>Spherical aberration coefficient:</br><input type="text" id="CsIn" size="5" value="4"></label>mm</br><small>&nbsp;Usually: 1-5</small></br></br>
      <label>Chromatic aberration coefficient:</br><input type="text" id="CcIn" size="5" value="2"></label>mm</br><small>&nbsp;Usually: 1-5</small></br></br>
      <label>&#916;E:</br><input type="text" id="DEIn" size="5" value="0.5"></label>eV</br><small>&nbsp;Usually: 0.2-0.8</small></br></br></br>
      <input type=button value="Refresh" onClick="betaZero = document.getElementById('beta').value;Cspherical = document.getElementById('CsIn').value;Cchromatic = document.getElementById('CcIn').value;deltaE = document.getElementById('DEIn').value;bg.outerRadius(radius(dpTot(betaZero,Cspherical,Cchromatic,deltaE,varEnergy,varCurrent,workDistance,Aperture))).render();c0Rad.outerRadius(radius(dC0(varCurrent,betaZero,varEnergy,workDistance,Aperture))).render();braggRad.outerRadius(radius(dBragg(varEnergy,workDistance,Aperture))).render();sphericRad.outerRadius(radius(dCS(Cspherical,workDistance,Aperture))).render();chromaticRad.outerRadius(radius(dCC(Cchromatic,deltaE,varEnergy,workDistance,Aperture))).render();"/>
    </form>
  </div>
  <div id="controls">
    <div id="datWrapper">
      <div id="EnergyDat">E=<span id="EnergyVal">6.00</span> keV</div>
      <div id="CurrentDat">i=<span id="CurrentVal">10.0 pA</span></div>
      <div id="WDDat">WD=<span id="WDVal">2.00</span> mm</div>
      <div id="ApertureDat">&#8709;=<span id="ApertureVal">30</span> &#956;m</div>
    </div>
    <div id="EnergyTop"><b>E</b></br><small>30keV</small></div>
    <div id="CurrentTop"><b>i</b></br><small>10nA</small></div>
    <div id="WDTop"><b>WD</b></br><small>50mm</small></div>
    <div id="ApertureTop"><b>&#8709;</b></br><small>500&#956;m</small></div>
    <div id="Energy"></div>
    <div id="Current"></div>
    <div id="WD"></div>
    <div id="Aperture"></div>
    <div id="EnergyBottom"><small>0.2keV</small></div>
    <div id="CurrentBottom"><small>0.5pA</small></div>
    <div id="WDBottom"><small>0.5mm</small></div>
    <div id="ApertureBottom"><small>10&#956;m</small></div>
    <div id="alphaDiv"><small>&#8736;&#945;=<span id="alphaShow">7.50</span> mrad</small></div>
    <script type="text/javascript">
      function showValue(tag,newValue)
      {
      document.getElementById(tag).innerHTML=(newValue).toFixed(2);
      }
      function showLessValue(tag,newValue)
      {
      document.getElementById(tag).innerHTML=newValue;
      }
      function showCurrentValue(newValue)
      {
        if (newValue < 1000)
          {
          document.getElementById("CurrentVal").innerHTML=(newValue).toFixed(1)+" pA";
          }
        else
          {
          document.getElementById("CurrentVal").innerHTML=(newValue * 0.001).toFixed(3)+" nA";
          }
      }
    </script>
  </div>
</div>
</body>
</html>
